  .folio {
    padding-top: 100px;  
    padding-left: 250px;  
  }
  
  .folio--logo {
    padding-right: 10px;
   }

   .folio--background {
    position: relative;
    left: 110px;
    bottom: 100px;
  }

  .folio--heading{
    position: relative;
    bottom:  170px;
    font-size: 110px;
     font-family: Arial;
  }

  .folio--paragraph {
    color: #666;
    font-family: Arial;
    font-size: 8px;
     }
 

  .folio--powerimg {
    float: right;
    padding-right: 600px; 
  }

  .folio--content{
float: left;
padding-top: 100px;
  }

  .folio--sticker {
    position: relative;
    right: 45px;
    padding-bottom: 320px;
  }

 .folio--contactInfo {
    background-color:#bdf7ff;
    opacity: 0.8;
    padding: 20px;
 }

 .folio--load {
    font-family: Arial; 
    font-size: 15px;  
    text-align: center; 
    padding-right: 50px;
  }

  .folio--contactImg {
    padding-left: 410px;
  }

  .folio--mobile {
    text-align: center;
    padding-right: 50px;
    font-size: 20px; 
    color: black
  }

  .folio--emailParagraph {
    text-align: center; 
    padding-right: 50px;
    color:#666; 
    font-size: 10px;
  }

  .folio--email {
        color:blue;
   }

   .links{
    font-family: Arial; 
    font-size: 15px; 
    padding-left: 230px;
   }
    .links--item{
    color: black;
    padding-right: 60px;
   }
  