  body {
    padding-top: 100px;  
    padding-left: 250px;  
  }
    p.discription {
   color: #666;
   font-family: Arial;
   font-size: 8px;
    }

  .background {
    position: relative;
    left: 110px;
    bottom: 100px;

  }

  .hello{
    position: relative;
    bottom:  170px;
    font-size: 110px;
     font-family: Arial;
  }

  .st {
    float: right;
    padding-right: 600px; 
  }

  .fllow {
float: left;
padding-top: 100px;
  }

  .t {
    position: relative;
    right: 45px;
    padding-bottom: 320px;
  }

  .logo {
   padding-right: 10px;
  }

  p.loading {
    font-family: Arial; 
    font-size: 15px;  
    text-align: center; 
    padding-right: 50px;
  }
 .back-color {
    background-color:lightskyblue;
    opacity: 0.4;
    padding: 20px;
 }
  img.contact-photo {
    padding-left: 410px;
  }

  p.mobile {
    text-align: center;
    padding-right: 50px;
    font-size: 20px; 
    color: black
  }

  p.email-discription {
    text-align: center; 
    padding-right: 50px;
    color:#666; 
    font-size: 10px;
  }

  a.email {
        color:blue;
   }

   .social-links{
    font-family: Arial; 
    font-size: 15px; 
    padding-left: 230px;
   }
    .links {
    color: black;
    padding-right: 60px;
   }
  