  .folio {
    padding-top: 100px;  
    padding-left: 250px;  
  }
  
  .folio__logoImg {
    padding-right: 10px;
   }

   .folio__backgroundImg {
    position: relative;
    left: 110px;
    bottom: 100px;
  }

  .folio__heading {
    position: relative;
    bottom:  170px;
    font-size: 110px;
     font-family: Arial;
  }

  .folio__paragraph {
    color: #666;
    font-family: Arial;
    font-size: 8px;
     }
 

  .folio__powerImg {
    float: right;
    padding-right: 600px; 
  }
/*block*/
  .folio__content {
float: left;
padding-top: 100px;
  }

  .content__stickerImg {
    position: relative;
    right: 45px;
    padding-bottom: 320px;
  }

 .content--contactInfo {
    background-color:#bdf7ff;
    opacity: 0.8;
    padding: 30px;
 }

 .contactInfo__load {
    font-family: Arial; 
    font-size: 15px;  
    text-align: center; 
    padding-right: 370px;
  }

  .contactInfo__contactImg {
    padding-left: 410px;
  }

  .contactInfo__mobile {
    text-align: center;
    padding-right: 370px;
    font-size: 20px; 
    color: black
  }

  .contactInfo__emailParagraph {
    text-align: center; 
    padding-right: 370px;
    color:#666; 
    font-size: 10px;
  }

  .contactInfo__email {
        color:blue;
   }

   .contactInfo__links {
    font-family: Arial; 
    font-size: 15px; 
    padding-left: 230px;
   }
    .links__item {
    color: black;
    padding-right: 30px;
   }
